@model Online_LoanEnquiry_And_Loan_Calculator.Customer

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Registration</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Registration", "Customer", FormMethod.Post))
{
    <table cellpadding="10">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.name)
            </td>
            <td>
                @Html.EditorFor(Model => Model.name)
                @Html.ValidationMessageFor(Model => Model.name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.type)
            </td>
            <td>
                @Html.EditorFor(Model => Model.type)
                @Html.ValidationMessageFor(Model => Model.type)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.company)
            </td>
            <td>
                @Html.EditorFor(Model => Model.company)
                @Html.ValidationMessageFor(Model => Model.company)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label("Gender")
            </td>
            <td>
                @Html.RadioButtonFor(Model => Model.gender, "male")Male
                @Html.RadioButtonFor(Model => Model.gender, "female") Female
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.userRole)
            </td>
            <td>
                @Html.EnumDropDownListFor(Model => Model.userRole, "Select Role")

                @Html.ValidationMessageFor(Model => Model.userRole)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.mobileNumber)
            </td>
            <td>
                @Html.EditorFor(Model => Model.mobileNumber)
                @Html.ValidationMessageFor(Model => Model.mobileNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.mailId)
            </td>
            <td>
                @Html.EditorFor(Model => Model.mailId)
                @Html.ValidationMessageFor(Model => Model.mailId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.password)
            </td>
            <td>
                @Html.PasswordFor(Model => Model.password)
                @Html.ValidationMessageFor(Model => Model.password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Register" />
            </td>
        </tr>
    </table>
}

