@model IEnumerable<Online_LoanEnquiry_And_Loan_Calculator_EL.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Customer/_Master.cshtml";
}
<marquee>Customer's Details</marquee>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>EmploymentType</th>
        <th>Salary</th>
        <th>MobileNo</th>
        <th>Area</th>
        <th>SalaryReceivedIn</th>
        <th>DesiredLoanAmount</th>
        <th>Gender</th>
        <th>Pincode</th>
        <th>PANNo</th>
        <th>DOB</th>
        <th>Email</th>
        <th>Company</th>
        <th>CurrentEMIAmount</th>
        <th>Tenure</th>
        <th>Experience</th>
        <th>HaveLoan?</th>
    </tr>
    @if (Model != null)
    {
        foreach (var value in Model)
        {
            <tr>
                <td>@value.id</td>
                <td>@value.name</td>
                <td>@value.type</td>
                <td>@value.monthlyIncome</td>
                <td>@value.mobilenumber</td>
                <td>@value.residentArea</td>
                <td>@value.salaryReceivedIn</td>
                <td>@value.desiredLoanAmount</td>
                <td>@value.gender</td>
                <td>@value.pincode</td>
                <td>@value.panCardNumber</td>
                <td>@value.dateOfBirth</td>
                <td>@value.email</td>
                <td>@value.company</td>
                <td>@value.currentEMIAmount</td>
                <td>@value.tenure</td>
                <td>@value.experience</td>
                <td>@value.haveLoan</td>
                <td>@Html.ActionLink("Edit", "Edit",new {id=value.id})</td>
                <td>@Html.ActionLink("Delete", "Delete",new { id=value.id})</td>
            </tr>
        }
    }
</table>


